@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@layer base {
  body {
    @apply min-h-screen;
    background: linear-gradient(180deg, #CA1C1D 0%, #F8EDAD 90%);
    background-attachment: fixed;
  }
}
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear,
input[type='password']::-webkit-contacts-auto-fill-button,
input[type='password']::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}
